<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <form action="{{url_for('consoles')}}" method="POST">
        <label>Nome do Console:</label>
        <input type="text" name="nome" required>
        <label>Fabricante</label>
        <input type="text" name="fabricante" required>
        <label>Preço</label>
        <input type="text" name="preco" required>
        <input type="submit" value="cadastrar">
    </form>

    <br>
    <hr>

    {%for console in consolelist%}
    Nome: {{consoles.nome}}
    Fabricante: {{consoles.fabricante}}
    Preço: {{consoles.preco}}
</body>

</html>